.login-container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

.logo img {
  width: 120px;
  margin-bottom: 30px;
}

.login-box {
  background-color: #d8d8f9;
  padding: 30px;
  border-radius: 8px;
}

.login-box label {
  font-weight: bold;
}

.btn-primary {
  background-color: white;
  /* border: 2px solid black; */
  padding: 10px 40px;
  font-weight: bold;
  width:200px;
  height:50px;
  background-color: rgb(119, 37, 139);
  color:white;
}

.btn-primary:hover {
  background-color: #225ad3;
}
.btn-login {
  background-color: white;
  border: 2px solid black;
  padding: 10px 40px;
  font-weight: bold;
  width:200px;
  height:50px;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgb(119, 37, 139);
  color:white;
}

.btn-login:hover {
   border: 2px solid white;
}
